:root{
    --deepblue: #264653;
    --teal: #2a9d8f;
    --yellow: #e9c46a;
    --orange: #f4a261;
    --red: #e76f51;
}

.header {
    background: var(--red);
    padding: 15px;
    border-radius: 50px 50px 0 0;
    border-bottom: solid var(--yellow) 4px;
}

.header h1{
    font-family: 'Mooli', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0px 10px 10px;
    color: var(--deepblue);
    text-align: center;
}

.header h2{
    font-family: 'Montserrat', sans-serif;
    margin: 0px 5px 10px 10px;
    color: white;
    font-size: 35px;
    text-align: center;
}

.header h1 #crawford{
    color: var(--yellow);
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--teal);
}

.nav li{
    display: inline;
    float: left;
}

.nav li a{
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: var(--deepblue);
}

.aboutme img {
    float: left;
    margin-right:20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: double var(--teal) 3px;
}

h3 {
    font-family: 'Mooli', sans-serif;
    font-size: 35px;
    color: var(--deepblue);
    margin-bottom: 0px;
    width: 100%;
    border-bottom: var(--red) 3px solid;
}

.aboutme h3 {
    margin-inline-start: 295px;
}

p {
    font-family: 'Inclusive Sans', sans-serif;
}

footer {
    background-color: var(--teal);
    text-align: center;
    padding: 10px;
    font-family: 'Mooli', sans-serif;
    color: var(--yellow);
}


